.character-detail-view dl {
    width: 50%;
    margin: auto;
}
.character-detail-view dt, .character-detail-view dd {
    text-align: initial;
}
.character-detail-view img {
    border-radius: 25%;
}